@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

body {
  font-family: "Barlow", -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
  background-color: #f5f7fa;
}

#content {
  text-align: center;
}

h1 {
  color: #102A43;
}

#answer {
  font-size: 36px;
}
